.header {
  position: sticky;
  display: flex;
  height: 64px;
  align-items: center;
  border-bottom: 1px solid #E2E6E9;
}

.header_logo {
  margin-left: 24px;
  margin-right: 48px;
  transition: transform 0.3s;
}

.header_logo:hover {
  transform: scale(1.05);
}
