@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.loader {
    height:  100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__img {
        align-self: center;
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
        padding: 0px;
        margin: 0px;
        @include onDesktop {
            width: 160px;
            height: 160px;
        }

        & li {
        animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
        display: block;
        @include onDesktop {
            transform-origin: 80px 80px;
        }

        &:after {
            content: " ";
            display: block;
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: $color-primary;
            margin: -4px 0 0 -4px;
            @include onDesktop {
                width: 10px;
                height: 10px;
            }
        }

        &:nth-child(1) {
            animation-delay: -0.036s;
        }

        &:nth-child(1):after {
            top: 63px;
            left: 63px;
            @include onDesktop {
                top: 126px;
                left: 126px;
            }
        }

        &:nth-child(2) {
            animation-delay: -0.072s;
        }

        &:nth-child(2):after {
            top: 68px;
            left: 56px;
            @include onDesktop {
                top: 136px;
                left: 112px;
            }
        }

        &:nth-child(3) {
            animation-delay: -0.108s;
        }

        &:nth-child(3):after {
            top: 71px;
            left: 48px;
            @include onDesktop {
                top: 142px;
                left: 96px;
            }
        }

        &:nth-child(4) {
            animation-delay: -0.144s;
        }

        &:nth-child(4):after {
            top: 72px;
            left: 40px;
            @include onDesktop {
                top: 144px;
                left: 80px;
            }
        }

        &:nth-child(5) {
            animation-delay: -0.18s;
        }

        &:nth-child(5):after {
            top: 71px;
            left: 32px;
            @include onDesktop {
                top: 142px;
                left: 64px;
            }
        }

        &:nth-child(6) {
            animation-delay: -0.216s;
        }

        &:nth-child(6):after {
            top: 68px;
            left: 24px;
            @include onDesktop {
                top: 136px;
                left: 48px;
            }
        }

        &:nth-child(7) {
            animation-delay: -0.252s;
        }

        &:nth-child(7):after {
            top: 63px;
            left: 17px;
            @include onDesktop {
                top: 126px;
                left: 34px;
            }
        }

        &:nth-child(8) {
            animation-delay: -0.288s;
        }

        &:nth-child(8):after {
            top: 56px;
            left: 12px;
            @include onDesktop {
                top: 112px;
                left: 24px;
            }
        }
      }
    }

    &__text {
        padding-top: 10%;
        text-align: center;
    }
  }

  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  