@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.select {
  &__label {
    display: block;

    margin-bottom: 4px;
    color: $color-secondary;
  }

  &__field {
    width: 132px;
    padding: 10px 12px;

    border: 1px solid $color-submarine;

    cursor: pointer;

    @include onTablet() {
      width: 160px;
    }
  }
}
