.category {
  &_item {
    margin-bottom: 24px;
    &-img {
      max-width: 368px;
      max-height: 368px;
    }
    &-type {
      display: block;
    }
    &-count {
      color: #89939A;
      display: block;
    }
  }
}
