@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.modal {

  &__wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;

    @include flexAlignment;
    z-index: 30;
    background-color: rgba($color: $color-primary, $alpha: 0.2);

    visibility: hidden;
  }

  &__wrapper--is-active {
    visibility: visible;
  }
  
  &__box {
    padding: 56px 80px;
    background-color: $color-submarine;
    border: 1px solid $color-secondary;
    box-shadow: 0px 0px 21px 7px rgba($color: $color-green, $alpha: 0.5);
    text-align: center;

    transform: scale(0);
    transition: transform 0.5s;
  }
  
  &__box--is-active {
    transform: scale(1);
  }

  &__title {
    margin-top: 0;
  }
}