.header {
  position: sticky;
  display: flex;
  height: 64px;
  align-items: center;
  border-bottom: 1px solid #E2E6E9;

  &_logo {
    margin-left: 24px;
    margin-right: 48px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }
}
