@import '../../styles/main.scss';

.cartItem {
  display: flex;
  flex-direction: column;

  background-color: $color-white;
  height: 164px;
  border: 1px solid $color-parcelein;

  @include onTablet {
    flex-direction: row;
    max-width: 752px;
    height: 128px;
    justify-content: space-between;
  }

  @include onDesktop {
    max-width: 752px;
  }

  &_left {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 16px 16px 16px;
  }
  
  &_closeButton {
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    outline: 0;
    color: inherit;
    cursor: pointer;
    margin-right: 20px;
  
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.3);
    }
  }
  
  &_phoneImage {
    width: 80px;
    height: 80px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
  }
  
  &_description {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $color-primary;
  }
  
  &_right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 16px 16px;
  }
  
  &_controller {
    display: flex;
    align-items: center;
    width: 96px;
    margin-right: 54px;
  
    @include onTablet {
      position: absolute;
      right: 54px;
    }
  
    @include onDesktop {
      margin-right: 64px;
    }
  }
  
  &_button {
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    outline: 0;
    color: inherit;
    cursor: pointer;
  
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
  
    width: 32px;
    height: 32px;
    border: 1px solid $color-submarine;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.3s;

    &:hover {
      border: 1px solid $color-primary;
    }

    &:disabled {
      border: 1px solid $color-parcelein;
    }
  }
  
  &_count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
  }
  
  &_total {
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    color: $color-primary;
  }
  
}
