@import "../../styles/variables.scss";

.burger-menu {
  position: relative;

  &_page {
    overflow-y: scroll;
    position: fixed;
    top: 48px;
    background: white;
    left: 0;
    bottom: 0;
    height: calc(100vh - 48px);
    width: 0;
    overflow: hidden;
    width: 0;

    display: flex;
    flex-direction: column;
    
    &.showMenu {
      width: 100vw;
    }
  }

  &_nav {
    margin: 0;
    background: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  &_item {
    margin: 32px auto 0;
    display: flex;
    position: relative;
    align-items: center;
    list-style: none;
    cursor: pointer;
    display: block;
  }

  &_link {
    display: block;
    text-decoration: none;
    color: $color-secondary;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 11px;
    font-weight: 800;
    transition: color 0.3s;
    position: relative;

    &:hover {
      color: $color-primary;

      &::after {
        content: "";
        position: absolute;
        top: 16px;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: $color-primary;
        border-radius: 8px;
        transition: all 0.3s;
      }
    }
  }

  &_buttons {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    background: white;
    width: 100%;
  }
  
  &_bottom-button {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    box-shadow: -1px -1px 0px $color-parcelein;
    position: relative;
  
    &:hover::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: $color-primary;
      border-radius: 8px;
      transition: all 0.3s;
    }
  }
  
  &_button {
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &__favourite--Icon {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $color-red;
      border:1px solid $color-parcelein;
      position: absolute;
      top: 25%;
      left: 51%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 20;
    }
  }
}
