.nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav_list {
  padding: 0;
  margin: 0;
  display: flex;
}

.nav_item {
  display: flex;
  height: 64px;
  position: relative;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

.nav_item:not(:last-child) {
  margin-right: 64px;
}

.nav_link {
  text-decoration: none;
  color: #89939A;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 11px;
  font-weight: 800;
  transition: color 0.3s;
}

.nav_link:hover {
  color: #313237;
}

.nav_link:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  bottom: 0;
  background-color: #313237;
  border-radius: 8px;
  transition: all 0.3s;
}

.nav_buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 0;
}

.nav_button {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E2E6E9;
  transition: border 0.3s;
}

.nav_button:hover {
  border: 1px solid #313237;
}

.nav_icon {
  padding: 10px;
}
