.tablet-page {
    padding: 25px 0 80px 0;
    &__title {
      margin-bottom: 8px;
    }
  
    &__loader {
      display: flex;
      justify-content: center;
      height: 250px;
      padding-top: 30px;
    }
  
    &__breadcrumbs {
      margin-bottom: 40px;
    }
  
    &__quantity {
      margin-bottom: 40px;
    }
  
    &__selects {
      display: flex;
  
      margin-bottom: 24px;
  
      .select:first-child {
        margin-right: 16px;
      }
    }
  
    &__list {
      margin-bottom: 40px;
    }
  
    &__pagination {
    }
  }
  