@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.nav {
  display: flex;
  align-items: center;
  height: 100%;

  &_list {
    padding: 0;
    margin: 0;
    display: flex;
  }

  &_item {
    display: flex;
    height: 48px;
    position: relative;
    align-items: center;
    list-style: none;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 32px;

      @include onDesktop {
        margin-right: 64px;
      }
    }

    @include onDesktop {
      height: 64px;
    }
  }

  &_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    color: $color-secondary;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 11px;
    font-weight: 800;
    transition: color 0.3s;

    &:hover {
      color: $color-primary;

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        height: 3px;
        width: 100%;
        bottom: 0;
        background-color: $color-primary;
        border-radius: 8px;
        transition: all 0.3s;
      }
    }
  }
}
